* {
    all: unset;
    display: revert;
    cursor: revert;
    box-sizing: border-box;
  }
body {
    background-color: #F0E6DE;
    font-family: 'Courier New', Courier, monospace;
}
img {
    width: 100%;
    height: auto;
}
.main_site {
    display: flex;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 10px;
    background-color: #F4CECE;
    border-radius: 30px;
    max-width: 1004px;
}
@media screen and (min-width: 1000px) {
    section {
        margin: 40px 40px 40px 150px;
    }
}
section img {
    border-radius: 15px;
}
content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
content img {
    max-width: 600px;
}
h1 {
    font-size: 2.2rem;
    text-align: center;
}
h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 10px;
}
p {
    line-height: 1.5rem;
}
/***** icons *****/
.icons img {
    aspect-ratio: 2/1;
}
.icons p {
    text-align: center;
}
.icons a:hover {
    color: #b5b5b5;
    opacity: 70%;
}
/***** active icon *****/
#icon_zoom {
    animation-name: icon_kf;
    animation-duration: 0.3s;
}
@keyframes icon_kf {
0% {
    transform: scale(90%);
}
100% {
    transform: scale(100%);
}
}
.container_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 30px 0px 0px 28px;
    gap: 5px;
}
@media screen and (min-width: 800px) {
    .icons {
        width: 170%;
    }
    header .icons {
        width: 20%;
    }
}
/****** links *******/