/***************************** home **************************/
main {
	display: flex;
	flex-direction: column;
}
.container_home {
	display: flex;
    flex-direction: column;
	align-items: center;
	margin: 2%;
    gap: 30px;
}
.desk {
    align-self: center;
    width: 90%;
}
.icons_home {
    text-align: center;
}
.container_icons_home {
	margin: 10px 10px 0px 10px;
	display: flex;	
	position: relative;
	align-items: center;
}
/***************************** nav **************************/
.main_sites {
    display: flex;
    flex-direction: column;
}
.container_icons {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
}
.container_icons ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

.container_icons a img {
    width: 85px;
}
/***************************** section **************************/
section {
    display: flex;
}
/***************************** containers **************************/

/*************************** link knapper ************************/

/***************************** media query **************************/
