/****** home ******/
.container_home {
    padding: 10%;
    display: flex;
    flex-direction:column;
}
.container_icons_home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.desk {
    width: 70%;
    align-self: center;
}
/******** 02_web  ********/
.container_main {
    display: flex;
    padding-top: 37px;
}

article {
    display: flex;
    padding-top: 10%;
}
