/***************************** home **************************/
/* @media screen and (min-width: 900px) {
.container_home  {
    margin: 9% 10% 2% 10%;
}  
} */
@media screen and (min-width: 800px) {
.container_home {
    display: flex;
    flex-direction:column;
    justify-items: center;
    gap: 0px;
    margin: 3% 10% 2% 10%;
}
.container_icons_home {
    display: flex;
    margin-bottom: 9px;
    gap: 12px;
    text-align: center;
}
.container_icons_home img {
    max-width: 90%;
}
.icons {
    justify-content: center;
}
.icons p {
    text-align: center;
}
.desk {
    width: 60%;
    align-self: center;
}
}
@media screen and (min-width: 700px) {
    .container_home {
        display: flex;
        flex-direction:column;
        gap: 10px;
        margin: 3% 5% 2% 5%;
    }
    .container_icons_home {
        display: flex;
        margin-bottom: 9px;
        gap: 12px;
        text-align: center;
    }
    .container_icons_home img {
        max-width: 80%;
    }
    .icons {
        width: 50%;
    }
    .icons p {
        text-align: center;
    }
    .desk {
        width: 70%;
        margin-top: 60px;
        align-self: center;
    }
}
@media screen and (max-width: 700px) {
    .container_home {
        display: flex;
        flex-direction: column-reverse;
        margin: 5%;
        gap: 15px;
    }
    .container_icons_home {
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 19px;
    }
    .icons {
        min-width: 30%;
        margin-bottom: 10px;
    }
    .icons p {
        text-align: center;
    }
}
@media screen and (max-width: 430px) { 
    .icons {
        width: 40%;
    }
}
/****************************** om *****************************/
.container_content_img {
    max-width: 40%;
    align-self: center;
}
/***************************** sites **************************/
.container_main {
    display: flex;
    padding-top: 5px;
}

.container_content_img {
    display: flex;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 55px;
    text-align: justify;
}
/*************************** link knapper ************************/
.button_links{
    display: flex;
    gap: 55px;
    text-align: center;
    max-width: 100%;
    height: auto;
}
.plant {
    max-width: 20%;
    float: right;
    margin-right: 2%;
    margin-bottom: -50px;
    margin-top: -185px;
}

.button_1 {
    width: 100%
}
.button_1 img {
    aspect-ratio: 50/ 62;
}
.button_2 img{
    aspect-ratio: 63.6/ 58.6;
}
/***************************** media query **************************/
