* {
    all: unset;
    display: revert;
    cursor: revert;
    box-sizing: border-box;
  }

  /******** css-variabler *********/
html {
    --bg-color: #F0E6DE;
    --bg-color_section: #F4CECE;
    --font: "Courier New", Courier, monospace;
    }
body {
    background-color: var(--bg-color);
    font-family: var(--font);
}
img {
    width: 100%;
    height: auto;
}
.main_site {
    display: flex;
}
header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.icons_luk {
    width: 100%;
}
header img {
    max-width: 20%;
}
article {
    word-wrap:break-word;
    margin: 0% 20% 0% 20%;
}
h1 {
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 10px;
}
p {
    line-height: 1.5rem;
}
